.w-100{
    width: 100%;
}

.relative{
    position: relative;
}

.text-right{
    text-align: right;
}


.text-center{
    text-align: center;
}

.font-size-40{
    font-size: 40px;
}

.font-size-700{
    font-size: 40px;
}

.text-white{
    color: #4B5e68;
}

.margin-bottom-26{
    margin-bottom: 10px;
}

.margin-top-80{
    margin-top: 80px;
}

@media screen and (min-width: 1024px) {
    .desktop-none{
        display: none;
    }

    .desktop-show{
        display: block;
    }

    .margin-bottom-30{
        margin-bottom: 30px;
    }
    .margin-bottom-80{
        margin-bottom: 80px;
    }
    .margin-bottom-150{
        margin-bottom: 150px;
    }
    
    .margin-bottom-95{
        margin-bottom: 95px;
    }
}

@media screen and (max-width: 1024px) {
    .mobile-none{
        display: none;
    }

    .mobile-show{
        display: block;
    }

    .margin-bottom-30{
        margin-bottom: 15px;
    }
    .margin-bottom-80{
        margin-bottom: 80px;
    }
    .margin-bottom-150{
        margin-bottom: 30px;
    }
    
    .margin-bottom-95{
        margin-bottom: 15px;
    }

    .justify-mobile-center{
        justify-content: center;
    }

    .justify-between{
        justify-content: space-between;
    }

    
}



#reading-progress {
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 9999;
    top: 0;
    left: 0;
}

#reading-progress-fill {
    height: 5px;
    width: 0;
}

#reading-progress-fill {
    -webkit-transition: width 100ms ease;
    -o-transition: width 100ms ease;
    transition: width 100ms ease;
    background-color: #69c71d;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px grey; 
border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(128, 118, 118); 
border-radius: 3px;
border: 1px solid grey;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #434343; 
}